/*******************************************************************************
 * Navbar Stylesheet
 *******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */
.navbar {
    background: #ededed;
    background-color: #fafafa;
    border: 1px solid #bababa;
    border-top: unset;
    border-left: unset;
    font-family: "Open Sans", sans;
    height: var(--ptx-navbar-height);
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 100;
    width: 904px;
}
.navbar .button {
    color: #333333;
    background-color: #ededed;
    border: 1px solid #bababa;
    border-bottom: unset;
    cursor: pointer;
    /* Disable accidental text-selection */
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.navbar .button:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
}
.navbar .button:active, .navbar .button.active {
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px inset;
}
.navbar .button:hover {
    background-color: #fafafa;
}
.navbar .button:active {
    background-color: #e0e0e0;
}
.navbar .button.disabled {
    opacity: 0.4;
    color: #333333;
    background: #ededed;
    cursor: default;
    box-shadow: none;
}
.navbar .toc-toggle {
    padding-left: 20px;
    font-size: larger;
    width: var(--sidebar-width);
    border-left: unset;
    border-right: unset;
}
.toc-toggle .icon {
    font-size: larger;
    padding-right: 0.4em;
}

.navbar .up-button {
    text-align: center;
}

.navbar .calculator-toggle {
    width: 60px;
    height: 33px;
    text-align: center;
    border-radius: 20px;
    margin-left: 5px;
    border: 2px solid #66f;
    line-height: 25px;
    margin-top: 2px;
    background-color: #eef;
}
.navbar .calculator-toggle.open {
    background: #fee;
    border: 2px solid #f66;
}

.treebuttons {
    margin-left: auto;
    display: flex;
}

.treebuttons .button {
    border-right: unset;
    gap: 3px;
}

.treebuttons .icon {
  font-size: 1.75em;
}