/*******************************************************************************
 * shell_X.css controls the overall arrangement of the blocks on the page.
 *******************************************************************************
 *
* Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */

/* The overall structure is
  html
    head
    body.pretext
      header#ptx-masthead
      nav#ptx-navbar
      div.ptx-page
        div.sidebar
          nav#ptx-toc
        main.ptx-main
          div.ptx-content
          div.ptx-content-footer
      div.ptx-page-footer
*/

:root {
    --ptx-navbar-height: 35px;
    --sidebar-width: 240px;
}

#ptx-masthead {
    position: relative;
    background: #fafafa;
    min-height: inherit;
    border: none;
}

.ptx-page {
    display: flex;
}

.ptx-main {
    max-width: 600px;
    margin: 0px 32px;
}

#ptx-sidebar {
    align-self: flex-start;
    height: calc(100vh - var(--ptx-navbar-height));
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    top: var(--ptx-navbar-height);
    width: var(--sidebar-width);
    min-width: calc(0.8 * var(--sidebar-width));
    border-right: 1px solid var(--tocborder);
    direction: rtl; /* Put the scroll bar on the left */
}

.sidebar-hidden {
    display: none;
}

/* text in lists was big */
.ptx-content.serif .para .para,
.ptx-content[data-font="RS"] .para .para {
    font-size: 100%;
}

.ptx-content[data-font="RS"] .code-inline {
    background: #f6f6f6;
    border: 1px solid #eee;
    padding: 0.01em 0.15em 0.03em 0.15em;
    margin-left: 0.15em;
    margin-right: 0.15em;
    border-radius: 0;
}

.ptx-content-footer {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ptx-content-footer .button {
    cursor: pointer;
    text-align: center;
    color: #333333;
    background-color: #ededed;
    border: 1px solid #bababa;
    padding: 0;
    display: flex;
    align-items: center;
}
.ptx-content-footer .button:hover,
.ptx-content-footer .button:active,
.ptx-content-footer .button:focus {
    background-color: #fafafa;
}

.ptx-content-footer .button.top-button {
    text-align: center;
    width: 40px;
    height: 50px;
}
.ptx-content-footer .button.previous-button,
.ptx-content-footer .button.next-button {
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 65px;
    /* Disable accidental text-selection */
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    position: relative;
    margin-top: 0.5em;
}
.ptx-content-footer .previous-button {
    text-align: left;
}
.ptx-content-footer .next-button {
    text-align: right;
}

.ptx-content-footer .name {
    position: relative;
    bottom: 0;
}
.ptx-content-footer .icon {
    font-size: 1.3em;
    position: relative;
    bottom: -0.1em;
}
.ptx-content-footer .previous-button .icon {
    margin-left: 0.3em;
    margin-right: 0.2em;
}
.ptx-content-footer .next-button .icon {
    margin-left: 0.2em;
    margin-right: 0.3em;
}
.ptx-content-footer .next-button {
    text-align: right;
}
.ptx-content-footer .previous-button {
    width: 70px;
    float: right;
    border-left: 1px solid #bababa;
    border-right: 1px solid #bababa;
}
.ptx-content-footer .next-button {
    width: 70px;
    float: right;
    border-right: 1px solid #bababa;
}

.ptx-content-footer .top-button {
    display: block;
}

.ptx-content-footer .top-button .icon,
.ptx-content-footer .top-button .name {
    display: block;
}
.ptx-content-footer .top-button .icon {
    bottom: 0;
}
.ptx-content-footer .top-button .name {
    position: relative;
    bottom: 0.4em;
}

.ptx-page-footer {
    background: #e8f4ff;
    margin-top: 1em;
    padding-top: 0;
    border-top: 2px solid var(--sectiontoctext);
    border-bottom: 2px solid var(--sectiontoctext);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ptx-page-footer > a > div {
    display: inline-block;
}
.ptx-page-footer .pretext-link {
    margin: 1em 0 1em 0;
    display: flex;
    align-items: center;
}
.ptx-page-footer .pretext-link .logo {
    width: 6em;
}
.ptx-page-footer .pretext-link .name {
    margin-top: 1.5em;
    margin-right: 1em;
}
.ptx-page-footer .feedback-link {
    cursor: pointer;
    text-align: center;
    color: #333333;
    background-color: #ededed;
    border: 1px solid #bababa;
    margin: 2.2em 0 0 0;
    padding: 0 1em 0 1em;
    height: 2em;
    display: flex;
    align-items: center;
}
.ptx-page-footer .mathjax-logo {
    margin-top: 2em;
}
.ptx-page-footer .mathjax-logo img {
    height: 2.5em;
}

.empty-index-button {
    border-left: 1px solid #bababa;
}

@media screen and (max-width: 904px) {
    .page {
        flex-direction: column-reverse;
    }
    .window-footer {
        margin-bottom: var(--ptx-navbar-height);
    }
    #ptx-sidebar {
        position: relative;
        align-self: stretch;
        border: unset;
        height: unset;
        width: 100%;
    }
    /* On a small screen, the sidebar appears at the bottom,
    and when it is "visible" it appears over the other content. */
    #ptx-sidebar:not(.sidebar-hidden) {
        position: fixed;
        top: 0;
        height: calc(100vh - var(--ptx-navbar-height));
        z-index: 100;
        background-color: white;
    }
    #ptx-sidebar:not(.sidebar-hidden) ~ main.ptx-main {
        display: none;
    }
    main.ptx-main {
        margin: 0px 10px;
    }
    #ptx-navbar {
        position: fixed;
        bottom: 0;
        top: unset;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px -2px 5px;
    }
    .ptx-content-footer {
        display: none;
    }

    #ptx-navbar {
        z-index: 101;
    }

    /* Only the the toc-toggle and the nav buttons show up
    in small screen mode */
    #ptx-navbar > * {
        display: none;
    }

    #ptx-navbar .toc-toggle {
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
    }
    #ptx-navbar .treebuttons {
        display: flex;
        flex-basis: 0;
        flex-grow: 3;
    }
    #ptx-navbar .button {
        flex-grow: 1;
    }
}

@media screen and (max-width: 600px) {
    main.ptx-main {
        overflow: hidden;
    }
    #ptx-navbar .name {
        visibility: collapse;
    }
    #ptx-navbar .button {
        justify-content: center;
    }
}
/*******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */
