.toc-chevron-surround {
    padding-left: 4px;
    display: flex;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    width: var(--toc-chevron-width);
    cursor: pointer;
}
.toc-chevron-surround:hover,
.toc-chevron-surround:focus-visible {
    background-color: var(--highlighttoc) !important;
    color: var(--sectiontoctextactive);
}
.toc-item a.active ~ .toc-chevron-surround {
    background-color: var(--sectiontocactive);
    color: var(--sectiontoctextactive);
}
.toc-item a:hover ~ .toc-chevron-surround {
    background-color: var(--highlighttoc);
    color: var(--sectiontoctextactive);
}
.chevron-rotator {
    position: relative;
}
.chevron-wrapper {
    box-sizing: border-box;
    display: block;
    margin: 0px;
    text-align: center;
}

.chevron-wrapper {
    transform: rotate(0deg);
    transform-origin: 2px 10px;
    transition: transform 0.5s;
}
.toc-chevron-surround.open .chevron-wrapper {
    transform: rotate(90deg);
}
