:root {
    --toc-codenumber-width: 26px;
    --toc-chevron-width: 20px;
}

.ptx-toc {
    direction: ltr; /* Undo the rtl direction of the ptx-sidebar parent */
}

.ptx-toc * {
    box-sizing: border-box;
}

/* After 10, the code number takes two digits, so we
need more room for it! */
.ptx-toc > ul > li.section:nth-child(n + 11) li {
    --toc-codenumber-width: 40px;
}

.ptx-toc a:focus-visible {
    outline-offset: -3px;
    outline: 2px dotted;
}

.ptx-toc ul {
    list-style: none;
    margin: unset;
    padding: unset;
    font-size: 14.72px;
}

.ptx-toc {
    font-weight: bold;
    font-family: "PT Serif", "Times New Roman", Times, serif;
}

.ptx-toc li {
    margin-top: 3px;
    overflow: hidden;
    position: relative;
}
.ptx-toc li:first-child {
    margin-top: unset;
}

.ptx-toc a {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 2.8px 3px 2.8px 0px;
    color: inherit;
    background-color: inherit;
}

.toc-item {
    display: flex;
    border: 1px solid var(--tocborder);
    border-left: unset;
    border-right: unset;
}

.ptx-toc .codenumber {
    display: block;
    text-align: left;
    padding-left: 4px;
    min-width: var(--toc-codenumber-width);
    flex-shrink: 0;
}
.ptx-toc .title {
    flex-grow: 1;
}
.division-level-2 .codenumber {
    font-size: smaller;
    font-weight: lighter;
}
.backmatter .division-level-2 .codenumber {
    font-size: inherit;
    font-weight: inherit;
}
.backmatter .division-level-3 .codenumber {
    font-size: smaller;
    font-weight: lighter;
}

/* Adjust the display of nested items */
.ptx-toc li li {
    margin-top: 0px;
}
.ptx-toc li li .toc-item {
    border-bottom: unset;
    border-color: rgb(209, 209, 209);
}

/* Deeply nested items get extra indentation.
   This indentation is done *inside* of the <a> tag
   so that the entire link is clickable */
.ptx-toc .division-level-3 .title {
    margin-left: 10px;
}
.ptx-toc .division-level-4 .title {
    margin-left: 20px;
}
.ptx-toc .title:first-of-type {
    margin-left: var(--toc-codenumber-width);
}
.ptx-toc .division-level-3 .title:first-of-type {
    margin-left: calc(var(--toc-codenumber-width) + 10px);
}
.ptx-toc .division-level-4 .title:first-of-type {
    margin-left: calc(var(--toc-codenumber-width) + 20px);
}

.division-level-2 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.frontmatter .toc-item,
.backmatter .toc-item {
    background-color: var(--bodytitlehighlight);
    color: #222222;
}
.frontmatter a,
.backmatter a {
    padding: 7px 0px;
}
.frontmatter .division-level-2 a {
    padding: 2.8px 0px;
}
.toc-item {
    background-color: var(--chaptertoc);
    color: var(--chaptertoctext);
}
.division-level-2 .toc-item {
    background-color: var(--secitiontoc);
    color: var(--sectiontoctext);
}
.backmatter .division-level-2 .toc-item {
    background-color: var(--chaptertoc);
    color: var(--chaptertoctext);
    border: 1px solid var(--tocborder);
    border-left: unset;
    border-right: unset;
}
.backmatter .division-level-3 .toc-item {
    background-color: var(--secitiontoc);
    color: var(--sectiontoctext);
    border-bottom: unset;
    border-color: rgb(209, 209, 209);
}

.toc-item a:hover,
.toc-item a.active:hover {
    color: var(--highlighttoctext);
    background-color: var(--highlighttoc);
}

.toc-item a.active {
    color: var(--highlighttoctext);
    background-color: var(--sectiontocactive);
}
.backmatter .division-level-2 {
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-weight: bold;
}

.backmatter .division-level-3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.backmatter .division-level-2 > li {
    margin-top: 3px;
}
.backmatter li a {
    padding: 2.8px 0px;
}
