:root {
    --toc-codenumber-width: 26px;
    --toc-chevron-width: 20px;
}

.ptx-toc {
    direction: ltr; /* Undo the rtl direction of the ptx-sidebar parent */
}

.ptx-toc * {
    box-sizing: border-box;
}

/* After 10, the code number takes two digits, so we
need more room for it! */
.ptx-toc > ul > li.section:nth-child(n + 11) li {
    --toc-codenumber-width: 50px;
}

.ptx-toc a:focus-visible {
    outline-offset: -3px;
    outline: 2px dotted;
}

.ptx-toc ul {
    list-style: none;
    margin: unset;
    padding: unset;
    font-size: 14.72px;
}

.ptx-toc {
    font-weight: bold;
    font-family: sans-serif;
}

.toc-item {
    display: flex;
    font-weight: normal;
    background-color: unset;
}
.toc-item > a {
    display: flex;
    flex-grow: 1;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}
.ptx-toc .codenumber {
    display: block;
    text-align: left;
    align-self: center;
    padding-left: 4px;
    min-width: var(--toc-codenumber-width);
    flex-shrink: 0;
}

.ptx-toc ul.structural li a.internal {
    background-color: unset;
    color: var(--sectiontoctext);
}

.mainmatter > .toc-item,
.frontmatter > .toc-item,
.backmatter > .toc-item {
    color: var(--sectiontoctext);
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.frontmatter > .toc-item > a:hover,
.backmatter > .toc-item > a:hover,
.mainmatter > .toc-item > a:hover {
    color: white;
    background-color: var(--highlighttoc);
}
.frontmatter > .toc-item > a.active,
.backmatter > .toc-item > a.active,
.mainmatter > .toc-item > a.active {
    color: white;
    background-color: var(--chaptertocactive);
}

.frontmatter > .toc-item .codenumber,
.backmatter > .toc-item .codenumber,
.mainmatter > .toc-item .codenumber {
    display: none;
}

.frontmatter > .toc-item > a,
.backmatter > .toc-item > a,
.mainmatter > .toc-item > a {
    display: block;
    text-align: center;
}

.ptx-toc .codenumber {
    display: block;
    text-align: left;
    padding-left: 4px;
    min-width: var(--toc-codenumber-width);
    flex-shrink: 0;
}
.ptx-toc .title {
    flex-grow: 1;
}
.division-level-2 .codenumber {
    font-size: smaller;
    font-weight: lighter;
}
.backmatter .division-level-2 .codenumber {
    font-size: inherit;
    font-weight: inherit;
}
.backmatter .division-level-3 .codenumber {
    font-size: smaller;
    font-weight: lighter;
}
.ptx-toc .division-level-3 .title {
    margin-left: 10px;
}
.ptx-toc .division-level-4 .title {
    margin-left: 20px;
}
.ptx-toc .title:first-of-type {
    margin-left: var(--toc-codenumber-width);
}
.ptx-toc .division-level-3 .title:first-of-type {
    margin-left: calc(var(--toc-codenumber-width) + 10px);
}
.ptx-toc .division-level-4 .title:first-of-type {
    margin-left: calc(var(--toc-codenumber-width) + 20px);
}

.division-level-0 .toc-item a,
.division-level-1 .toc-item a,
.division-level-2 .toc-item a {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
.division-level-3 .toc-item a {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.division-level-3 .toc-item {
    background-color: #f4f4f4;
}
.ptx-toc ul.structural li ul.structural .toc-item a {
    background-color: unset;
}
.division-level-3 {
    position: relative;
}
.division-level-3:before,
.division-level-3:after {
    box-shadow: inset 0px 10px 5px -10px rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    user-select: none;
    pointer-events: none;
}
.division-level-3:after {
    box-shadow: inset 0px -10px 5px -10px rgba(0, 0, 0, 0.5);
    top: unset;
    bottom: 0;
}

/*

.ptx-toc li {
    margin-top: 3px;
    overflow: hidden;
    position: relative;
}
.ptx-toc li:first-child {
    margin-top: unset;
}

.ptx-toc a {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 2.8px 3px 2.8px 0px;
    color: inherit;
    background-color: inherit;
}

.toc-item {
    display: flex;
    border: 1px solid var(--tocborder);
    border-left: unset;
    border-right: unset;
}

.ptx-toc .codenumber {
    display: block;
    text-align: left;
    padding-left: 4px;
    min-width: var(--toc-codenumber-width);
    flex-shrink: 0;
}
.ptx-toc .title {
    flex-grow: 1;
}
.division-level-2 .codenumber {
    font-size: smaller;
    font-weight: lighter;
}
.backmatter .division-level-2 .codenumber {
    font-size: inherit;
    font-weight: inherit;
}
.backmatter .division-level-3 .codenumber {
    font-size: smaller;
    font-weight: lighter;
}

.ptx-toc li li {
    margin-top: 0px;
}
.ptx-toc li li .toc-item {
    border-bottom: unset;
    border-color: rgb(209, 209, 209);
}

.ptx-toc .division-level-3 .title {
    margin-left: 10px;
}
.ptx-toc .division-level-4 .title {
    margin-left: 20px;
}
.ptx-toc .title:first-of-type {
    margin-left: var(--toc-codenumber-width);
}
.ptx-toc .division-level-3 .title:first-of-type {
    margin-left: calc(var(--toc-codenumber-width) + 10px);
}
.ptx-toc .division-level-4 .title:first-of-type {
    margin-left: calc(var(--toc-codenumber-width) + 20px);
}

.division-level-2 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.frontmatter .toc-item,
.backmatter .toc-item {
    background-color: var(--bodytitlehighlight);
    color: #222222;
}
.frontmatter a,
.backmatter a {
    padding: 7px 0px;
}
.frontmatter .division-level-2 a {
    padding: 2.8px 0px;
}
.toc-item {
    background-color: var(--chaptertoc);
    color: var(--chaptertoctext);
}
.division-level-2 .toc-item {
    background-color: var(--secitiontoc);
    color: var(--sectiontoctext);
}
.backmatter .division-level-2 .toc-item {
    background-color: var(--chaptertoc);
    color: var(--chaptertoctext);
    border: 1px solid var(--tocborder);
    border-left: unset;
    border-right: unset;
}
.backmatter .division-level-3 .toc-item {
    background-color: var(--secitiontoc);
    color: var(--sectiontoctext);
    border-bottom: unset;
    border-color: rgb(209, 209, 209);
}

.toc-item a:hover,
.toc-item a.active:hover {
    color: var(--highlighttoctext);
    background-color: var(--highlighttoc);
}

.toc-item a.active {
    color: var(--highlighttoctext);
    background-color: var(--sectiontocactive);
}
.backmatter .division-level-2 {
    font-family: "PT Serif", "Times New Roman", Times, serif;
    font-weight: bold;
}

.backmatter .division-level-3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.backmatter .division-level-2 > li {
    margin-top: 3px;
}
.backmatter li a {
    padding: 2.8px 0px;
}
*/
