/* Temporary styling just so one can tell that they're
viewing the react version of the source code. */
li.active::before {
    content: "*";
    display: block;
    position: relative;
    float: right;
    height: 0px;
    width: 0px;
    left: 0;
    z-index: 10;
    font-weight: bold;
    color: gold;
    padding-top: 7px;
    padding-right: 5px;
    margin-right: 5px;
}

/* Some basic of the sidebar for my sanity. This should be replaced
as part of a larger project... */
:root {
    --primary-navbar-height: 35px;
    --masthead-height: 100px;
}

body {
    display: flex;
    flex-direction: column;
}

head#masthead {
    position: sticky;
    z-index: 100;
    top: 0;
    margin-top: var(--masthead-height);
}
head#masthead .banner {
    box-sizing: border-box;
    height: var(--masthead-height);
    position: absolute;
    top: calc(-1 * var(--masthead-height));
}

nav#primary-navbar {
    height: var(--primary-navbar-height);
}

.page {
    display: flex;
    position: unset;
}
#sidebar-left {
    align-self: flex-start;
    height: calc(99vh - var(--primary-navbar-height));
    overflow-y: auto;
    position: sticky !important;
    top: var(--primary-navbar-height);
}
main.main {
    margin: 0px !important;
    flex-grow: 1;
    max-width: 663px;
    min-height: 100vh;
}
