/* Some basic of the sidebar for my sanity. This should be replaced
as part of a larger project... */
:root {
    --primary-navbar-height: 35px;
    --masthead-height: 100px;
}

body {
    display: flex;
    flex-direction: column;
}

header#masthead {
    position: sticky;
    z-index: 100;
    top: 0;
    margin-top: var(--masthead-height);
}
header#masthead .banner {
    box-sizing: border-box;
    height: var(--masthead-height);
    position: absolute;
    top: calc(-1 * var(--masthead-height));
}

nav#primary-navbar {
    height: var(--primary-navbar-height);
}

.page {
    display: flex;
    position: unset;
}
body #root .page > #sidebar-left {
    align-self: flex-start;
    height: calc(99vh - var(--primary-navbar-height));
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: var(--primary-navbar-height);
}
main.main {
    margin: 0px !important;
    flex-grow: 1;
    max-width: 663px;
    min-height: 100vh;
}

#toc {
    width: unset !important;
}
#sidebar-left {
    width: 240px;
}
/* Make the nav chevron position correctly */
#toc ul li a.internal {
    display: flex;
}
#toc .title {
    flex-grow: 1;
}
#toc ul ul ul {
    margin-left: 20px;
    list-style-type: none;
    border-left: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}
#toc a:visited {
    background-color: unset !important;
}

.toc-chevron-surround {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    margin-right: 5px;
    margin-left: 5px;
    align-self: center;
    width: 17px;
    overflow: hidden;
}
.toc-chevron-surround .chevron-wrapper {
    transform-origin: 0px 13px;
    margin: unset;
    transition: transform 0.3s;
}
.toc-chevron-surround.open .chevron-wrapper {
    transform: rotate(90deg);
}
.toolbar-item.button {
    width: 70px;
}
#sidebar-left.hidden-content {
    display: none !important;
}
button:disabled {
    color: #aaa !important;
}
#root div.navbar-top-buttons {
    display: flex;
    justify-content: space-between;
    
}
#root div.navbar-top-buttons .tree-nav.toolbar.toolbar-divisor-3 {
    margin-left: 0px;
}


@media (max-width: 800px) {
    main.main {
        max-width: 100%;
    }
    header#masthead .banner {
        height: unset;
        position: relative;
        top: unset;
        
    }
    header#masthead {
        position: relative;
    }
    body #root .page > div#sidebar-left {
        margin-left: unset;
        position: fixed;
        left: 0;
        top: 0;
        width: unset;
        z-index: 1002;
        background-color: white;
        width: 100%;
    }
    
}

#sidebar-left {
    position: sticky !important;
}